<div class="request {{ reqStatus }}">
    <div class="image ico {{ reqIcon }}"></div>
    <div><span class="code">[{{ response.status_code }}]</span> {{ request.method }} <span class="url">{{ request.request_uri |truncate(80) }}</span> <span class="date">({{ requestDate }})</span></div>
    <div class="route">{{ request.attributes.parameters._route | default("no controller") }}</div>
    <div class="controller">{{ request.attributes.parameters._controller | default("no controller") }}</div>

</div>   

       