{% extends 'TechGSfBaseprjBundle::layout.html.twig' %}

{% block main_container_content %}

<style type="text/css">
    .active { font-weight: bold; color: green; }
    .deactive { font-weight: bold; color: red; }
    .noguess { font-style: italic; color: #999; }
</style>
    <ul>
            {% for  time,lap in tgKernel.debugManager.getLapArr %}
                <li><span class="key">{{ lap.startDiff }} </span>: {{ lap.info }} [{{ lap.lastDiff }} s]
                </li>
            {% endfor %} 
</ul>            
    <h1>Test page</h1>

    <h3>Bundle info</h3>
    <p>
        <ul>
            <li><span class="key">{{ "info.system.bundlename" | trans }}</span>: {{ "info.bundlename" | trans }}</li>
            <li><span class="key">{{ "info.system.bundleversion" | trans }}</span>: {{ tgKernel.getBundleVersion | default("info.value.noguess"|trans) }}</li>
        </ul>

    </p>
    <h3>Kernel info</h3>
    <p>
        <ul>
            <li><span class="key">{{ "info.system.kernelversion" | trans }}</span>: {{ tgKernel.getKernelVersion | default("info.value.noguess"|trans) }}</li>
            {% for  modname,modobj in tgKernel.modules %}
                <li><span class="key">{{ ("info.module." ~ modname) | trans }}</span>:
                    {% if tgKernel.isModuleEnable(modname) %}
                        {{ 'info.value.active' | trans |raw }}
                    {% else %}
                        {{ 'info.value.noactive' | trans |raw }}
                    {% endif %}
                </li>
            {% endfor %}                      
        </ul>
    </p>
    <h3>Request info</h3>
    <p>
        <ul>
            <li><span class="key">{{ "info.request.url" | trans }}</span>: {{ tgKernel.baseUri }}{{ tgKernel.uri }}</li>
            <li><span class="key">{{ "info.request.host" | trans }}</span>: {{ tgKernel.host }}</li>
            <li><span class="key">{{ "info.request.localeFromUrl" | trans }}</span>: {% if tgKernel.isLocaleinUrl %} {{ 'info.value.true' |trans |raw }} {% else %} {{ 'info.value.false' |trans |raw }} {% endif %}</li>
            <li><span class="key">{{ "info.request.acceptlanguage" | trans }}</span>: {{ app.request.getLanguages | join(', ')  }}</li>
            <li><span class="key">{{ "info.request.requestlocale" | trans }}</span>: {{ app.request.locale | join(', ')  }}</li>

            <li><span class="key">{{ "info.request.guessedlocale" | trans }}</span>:
                {% if tgKernel.isGuessLocaleEnabled %}
                    {{ tgKernel.guessedLocale.getLocale | default("info.value.noguess"|trans) }}
                {% else %}
                    {{ 'system.guesslocale.noactive' | trans }}
                {% endif %}
            </li>
        </ul>
    </p>

    <h3>User info</h3>
    <p>
        <ul>
            <li><span class="key">{{ "info.user.clientIp" | trans }}</span>: {{ tgKernel.clientIp }}</li>
        </ul>
    </p>
    
    <h3>Geolocation info</h3>
    <p>https://github.com/willdurand/BazingaGeocoderBundle</p>
    {% if tgKernel.isGeoEnabled %}
        <p>
            <ul>
                {% for k,value in tgKernel.userGeoPosition.toArray(true)  %}
                    <li><span class="key">{{ ("info.geo." ~ k) | trans }}</span>: {{ value | default("info.value.noguess" |trans) | raw }}</li>
                {% endfor %}
            </ul>
        </p>
    {% else %}
        <p>{{ 'system.geo.noactive' | trans }}</p>
    {% endif %}
    
    <h3>Mobile detection info</h3>
    <p>https://github.com/suncat2000/MobileDetectBundle</p>
    {% if tgKernel.isMobileDetectEnabled %}
        <p>
        <ul>
            <li><span class="key">{{ "info.mobile.is_mobile" | trans }}</span>: {% if is_mobile() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_tablet" | trans }}</span>: {% if is_tablet() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_device_iphone" | trans }}</span>: {% if is_device('iphone') %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_device_ipad" | trans }}</span>: {% if is_device('ipad') %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_device_htc" | trans }}</span>: {% if is_device('htc') %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_full_view" | trans }}</span>: {% if is_full_view() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_mobile_view" | trans }}</span>: {% if is_mobile_view() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_tablet_view" | trans }}</span>: {% if is_tablet_view() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
            <li><span class="key">{{ "info.mobile.is_not_mobile_view" | trans }}</span>: {% if is_not_mobile_view() %}{{ 'info.value.true' | trans |raw }} {% else %} {{ 'info.value.false' | trans |raw }} {% endif %} </li>
        </ul>
        </p>
    {% else %}
        <p>{{ 'system.mobileDetection.noactive' | trans }}</p>
    {% endif %}
    
    <h3>Browser info</h3>
    {% if tgKernel.userBrowserInfo is not empty %}
        <p>
            <ul>
                {% for k,value in tgKernel.userBrowserInfo  %}
                    <li><span class="key">{{ "info.browser." ~ k | trans }}</span>: {{ value | default("info.value.noguess"|trans) | raw }}</li>
                {% endfor %}
            </ul>
        </p>
    {% else %}
        <p>{{ 'system.geo.noactive' | trans }}</p>
    {% endif %}

{% endblock %}